.navbar1{
     position: relative;
     min-height: 50px;
     border: 1px solid transparent;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 34px;
}
.navbar-right{
    margin-top: 14px;
}
.navbar-right>li>a {
    padding-left: 25px;
}
li{
    list-style:none;
}
i{
    display: inline-block;
    position: absolute;
}
.title{
    display: block;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #666666;
}
.icon-share{
    height: 23px;
    min-width: 23px;
    position: relative;
    top:5px;
    background-image: url(/images/icon-share.png);
    _background-image: url(/images/icon-share.png);
}
.icon-about{
    height: 11px;
    min-width: 17px;
    top:20px;
    left: 0;
    background-image: url(/images/icon-about.png);
    _background-image: url(/images/icon-about.png);
}
.icon-contact{
    height: 20px;
    min-width: 20px;
    top:15px;
    left: 0;
    background-image: url(/images/icon-contact.png);
    _background-image: url(/images/icon-contact.png);
}
.icon-submit{
    height: 20px;
    min-width: 22px;
    top:15px;
    left: 0;
    background-image: url(/images/icon-submit.png);
    _background-image: url(/images/icon-submit.png);
}