.menu{
    border-bottom:1px solid #e41a25;
    background-color: #37485d;
    filter:alpha(opacity=57);
    -moz-opacity:0.57;
    opacity:0.57;
}
.menu>div>div{
    line-height: 60px;
    text-align: center;
    font-size: 16px;
}
.menu div>a{
    color: #dddddd;
}
.meta{
    margin: 20px 0;
}
.meta span{
    margin-right:20px;
}
.image-package{
    position: relative;
    margin: 40px 0;
}
.photo_minimap_roll {
    position: absolute;
    height: 42px;
    width: 25px;
    background: #080808;
    top: 4px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}
.roll_right{
    right: 0;
}
.arrow-next {
    top: 50%;
    right: 0;
    background-image: url(/images/photo-scan-layer.png?max_age=19830212&d=20170104175631);
    background-position: -91px 0;
    _background-image: url(/images/photo-scan-layer.png?max_age=19830212&d=20170104175631);
    _background-position: -29px -62px;
}
.arrow-next:hover {
    background-image: url(/images/photo-scan-layer.png?max_age=19830212&d=20170104175631);
    background-position: -149px 0;
    _background-image: url(/images/photo-scan-layer.png?max_age=19830212&d=20170104175631);
    _background-position: -62px 0;
}
.arrow-pre {
    top: 50%;
    left: 0;
    background-image: url(/images/photo-scan-layer.png?max_age=19830212&d=20170104175631);
    background-position: -62px 0;
    _background-image: url(/images/photo-scan-layer.png?max_age=19830212&d=20170104175631);
    _background-position: 0 -62px;
}
.arrow-pre:hover {
    background-image: url(/images/photo-scan-layer.png?max_age=19830212&d=20170104175631);
    background-position: -120px 0;
    _background-image: url(/images/photo-scan-layer.png?max_age=19830212&d=20170104175631);
    _background-position: -58px -62px;
}
.figure-area-arrow {
    position: absolute;
    z-index: 10;
    width: 27px;
    height: 44px;
    line-height: 150px;
    overflow: hidden;
}
.image-package ul li{
    float: left;
    margin: 10px;
}